AD_DOMAIN=example
AD_REALM=${AD_DOMAIN}.com
AD_DC_HOSTNAME=dc1
CONTAINER_IP4_ADDR=192.168.16.2

# The location on the host to store the Samba server files
# This is the /var/lib/samba volume within the container.
HOST_SAMBA_DIRECTORY=/tmp/samba

# Only used in dumpAD.sh script
AD_BASE="dc=${AD_DOMAIN},dc=com"
